.conteudo {
    text-align: center;
}

.conteudo > h2 {
    color: #231f20;
}

.conteudo > article {
    text-align: left;
    padding: 25px;
}

.grade {
    background-color: #fdc236;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.grade > ul {
    list-style: none;
}