<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Faculdade Impacta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/mediaquery.css">
	<link rel="stylesheet" href="css/noticias.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Faculdade Impacta</h1>
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="listaCursos.html">Lista de Cursos</a></li>
                <li class="activate"><a href="noticias.html">Notícias</a></li>
				<li><a href="contato.html">Contato</a></li>
				<li><a href="entrar.html">Entrar</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2 class ="c1">Notícias</h2>
		<div class="blocos"> 
            <article class="n1">
				<h3>Alunos da Faculdade Impacta vencem a 5.ª edição do Hackathon da FIESP</h3>
				<img src="img/alunos.jpg" alt="Alunos" />
				
					<p>
						Na última segunda-feira (17), um grupo de alunos da Faculdade Impacta foi premiado na <strong>5.ª edição do Hackathon</strong>, 
						que aconteceu na cidade de São Paulo, cujo objetivo é reconhecer e divulgar soluções tecnológicas inovadoras.
					</p>

					<p>
						Promovido pelo Comitê <strong>Acelera Fiesp (CAF)</strong> da Federação das Indústrias do Estado de São Paulo (FIESP), a edição desafiou 
						os competidores a criar um aplicativo para dispositivos móveis com a temática Hackathon Maker: Internet das Coisas, Protótipos e Indústria 4.0.
					</p>

					<p>
						Os participantes tiveram que desenvolver um sistema que solucionasse problemas na área de Mashups (como combinar diversos dispositivos em 
						um para estimular a conectividade e a praticidade no dia a dia das pessoas?); Equipamentos urbanos (no futuro as cidades serão inteligentes. 
						Como os equipamentos urbanos podem se comunicar com seus usuários?); e Wearables (as mudanças no setor vestuário: novas tecnologias e usabilidades para roupas e acessórios).
					</p>

					<h4>participantes-do-hackathon</h4>

					<p>
						Os nossos alunos <strong>Júlio César dos Santos</strong> e <strong>Wilder Roberto Ramos Pereira</strong> e o ex-aluno 
						<strong>Jean Pierre Ferreira da Silva</strong>
						, que integraram a <strong>equipe 
						Greenbox</strong>, venceram a <strong>categoria Mashups</strong> com o projeto de uma plataforma para educar e ajudar a criar um modo seguro e interativo de usar a 
						tecnologia a favor da educação, trazendo para o mundo real elementos de jogos virtuais.
						A edição, que teve duração de três dias, premiou cada integrante com um tablet, além do compromisso com a aceleração dos projetos pelo CAF. 
						Os ganhadores poderão ainda participar da 9.ª edição do Concurso Acelera Startup da Fiesp.
					</p>

					<p>
						Nós, da <strong>Faculdade Impacta</strong>, estamos muito orgulhosos de ver que nossos alunos não só estão colocando em 
						prática todo o aprendizado obtido em 
						sala de aula, como também contribuindo para a construção de uma sociedade melhor.
					</p>
					
				</article>
        </article>  
        <article class="n2">
            <h3>Curso de Administração da Faculdade Impacta recebe nota 4 em avaliação do MEC</h3>
            <img src='http://www.impacta.edu.br/blog/wp-content/uploads/2017/06/COVER-BLOG-672x336.png' />		
            <p>
                Na última semana, <strong>o curso de bacharelado em Administração da Faculdade Impacta Tecnologia</strong> se destacou mais uma vez e recebeu 
                <strong>nota 4 em avaliação do Ministério da Educação (MEC)</strong>, referente à Renovação de Reconhecimento de Curso.
            </p>

            <p>
                A avaliação, que é realizada in loco, atenta-se às condições para o funcionamento adequado da Instituição, assim como a 
                sua qualidade. <strong>Para chegar ao conceito 4 (escala de 1 a 5)</strong>, a Comissão analisou o projeto pedagógico do curso, participou 
                de reuniões com docentes e discentes e verificou a infraestrutura do campus, como laboratórios e biblioteca.
            </p>

            <p>
                “Esse resultado ratifica a seriedade com que a educação e a preparação do profissional são tratadas pela Faculdade 
                Impacta e o seu compromisso com a qualidade. Parabéns aos Corpos Docente, Discente e Administrativo da Instituição!”, 
                ressalta o prof. Pedro Paulo Alves, diretor executivo da Impacta.
            </p>

            <p>
                Em avaliação anterior do <strong>ENADE</strong>, o curso também recebeu Nota 4, situando-se entre as 10 melhores avaliações de São Paulo.
            </p>
    
        </article>
		<article class="n3">
			<h3>Alunos do Curso de Administração da Faculdade Impacta apresentam trabalho de conclusão de curso</h3>
            <img src="img/formados.jpeg" alt="Formatura" />            
            <p>
                Os alunos do 8º semestre do curso de Administração da Faculdade Impacta apresentaram, dia 14 de dezembro,
                os trabalhos de conclusão de curso (OPE?s). Ao todo, foram dois grupos com temas inovadores e um case real já aplicado no mercado.
            </p>

            <p>
                Para a coordenadora do curso, Professora Francesca Romanelli, o trabalho é fruto do aprendizado e metodologia desenvolvido 
                ao longo do curso e engloba fatores fundamentais como planejamento, pesquisa e processos: “Trata-se de trabalhos multidisciplinares 
                que desenvolvem valores e conhecimentos fundamentais para esses alunos continuarem em destaque no mercado”, disse.
            </p>

            <p>
                Os alunos Douglas Felipe Torres e Felipe Ferreira da Silva desenvolveram e implementaram um projeto para melhoria da gestão 
                das informações dos indicadores de desempenhos da Cruz Vermelha do Estado de São Paulo, através de uma ferramenta metodológica, 
                desenvolvida em Microsoft Excel e adaptada da metodologia ITIL.  A solução foi pensada 100% no usuário final – de fácil utilização e intuitiva.
            <p> 

            <p>
                A ferramenta já está em utilização na Cruz Vermelha com aprovação total dos seus voluntários e colaboradores. 
                Para os alunos Douglas Torres, um dos idealizadores da solução, o resultado foi fantástico: “Nos pudemos contribuir com a parte 
                de gestão das informações, eles não tinham esse controle por departamento, tem sido um grande facilitador para eles”.
            </p>

            <p>
                Já as alunas Isabel Maria Pires Lopes e Melissa Lopes Frank realizaram um trabalho de pesquisa sobre o impacta da geração Z no mercado 
                de trabalho baseado no conflito de gerações, cultura e clima organizacional.
            </p>

            <p>
                A pesquisa mostrou dados concretos da diferença de pensamento dos gestores para os jovens que estão entrando no mercado de trabalho, 
                a geração Z nasceu e vive em um mundo conectado e globalizado, assim tem uma visão bem ampla do mundo, e conluio – de modo geral – que as 
                organizações terão que se readaptar para reter os jovens talentos extrair sempre o melhor de cada jovem colaborador.
            </p>

            <p>A Faculdade Impacta deseja um grande futuro aos alunos e parabeniza a todos pelo sucesso e qualidade dos trabalhos!</p>
        </div>
		</article>    
    </section>
    <footer>
        
    </footer>
    <div class="copyright">© IMPACTA 2015. Todos os direitos reservados. Tel.: 11 3254-8300 / CAMPUS BARRA FUNDA - Av. Rudge, 315</div>
</body>
</html>